@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');

* {
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

/* Menu */

.menu-container-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 9 !important;
}


.main-menu {
  background-color: rgba(255, 255, 255, 0.559);
  /* border: solid 4px black; */
  width: 600px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 50px;
  z-index: 9 !important;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.main-menu button{
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-sizing: content-box;
  background-color: rgb(63, 63, 223);
  height: 50px;
  min-width: 100px;
  border-radius: 5px;
}

.main-menu button:hover{
  background-color: rgb(57, 57, 210);
}

.difficulty-container button.active {
  /* border: solid 2px black; */
  box-shadow: inset 0 0 0 3px rgb(238, 238, 238); /* Adjust the color and spread as needed */
}

.difficulty-container {
  display: flex;
  justify-content: space-between;
}

/* Loading screen */

.loading-screen {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}


svg{
  width: 100px;
  height: 100px;
  display:inline-block;
  position: relative;
  left: 15px;
}

/* Deck */

.deck-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.card-bg {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  /* filter: brightness(0.8); */
}

.deck-container .card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  transition: scale 1s;
  background: radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.9), rgba(54, 113, 231, 0.9));
  /* background-color: rgba(189, 189, 189, 0.3); */
  /* backdrop-filter: blur(10px); */
}

.card img {
  width: 100px;
  z-index: 1;
}

.card p {
  z-index: 1;
  color: white;
}

/* Win and lose screens */

.win-screen, .lose-screen {
  font-size: 40px;
  z-index: 18 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
}

.win-screen p, .lose-screen p{
  transform: translate(0,-50%);
}
/* Wallpaper */

img.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Score */

.score-container {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.progress-bar-container {
  border: solid 4px rgb(27, 27, 27);
  border-radius: 10px;
}

.progress-bar {
  background-color: yellow;
  border-radius: 8px;
  transition: 0.5s;
}

